{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% load dashboard_extras %}

{% block content %}
<style>
  .main-card{
    background-color: rgba(0,0,0,0.7);
  }
  .card-header {
    background-color: rgba(0,0,0,0.1);
  }
</style>
  
<div class="card main-card">
  <div class="card-header d-flex justify-content-between">
    <button class="btn btn-info" type="button">
      <a href="{% url 'auctions:create_auction' %}" class="text-lg text-white">Create Auction</a>
    </button>
    <input type="text" id="searchBar"  class="form-control w-25" placeholder="Search...">
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for auction in auctions %}
            <div class="col" data-item-name="{{ auction.auction_item.first.item_name }}">
                <div class="card">
                  
                  
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <img src="{% static 'img/logo.jpg' %}" class="card-img-top w-25" alt="{{ auction.title }}">
                        <i class="fa-solid fa-ellipsis-vertical fa-xl"></i>
                      </div> 
                        <h5 class="card-title">{{ auction.title }}</h5>
                        {% with auction.auction_item.first as item %}
                            <p class="card-text">{{ item.item_rarity|upper }} {{ item.item_name|upper }} {{ item.item_rank|upper }}</p>

                        {% endwith %}
                        <p class="card-text">Starting bid: ${{ auction.starting_bid }}</p>
                        <p class="card-text">BUY NOW: ${{ auction.buyout }}</p>

                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Posted now</small>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No auctions available.</p>
        {% endfor %}
    </div>
  </div>
</div>


<script>
  // Wait for the DOM to be ready
  document.addEventListener('DOMContentLoaded', function () {
      // Get the search bar and auction items
      const searchBar = document.getElementById('searchBar');
      const auctionItems = document.querySelectorAll('.col');
  
      // Function to perform the search
      function searchItems() {
          const searchText = searchBar.value.toLowerCase();
  
          auctionItems.forEach(item => {
              const itemName = item.getAttribute('data-item-name').toLowerCase();
              if (itemName.includes(searchText)) {
                  item.style.display = ''; // Shows the item if it matches
              } else {
                  item.style.display = 'none'; // Hides the item if it doesn't match
              }
          });
      }
  
      // Event listener for the search bar
      searchBar.addEventListener('keyup', searchItems);
  });
  </script>
  
{% endblock content %}