{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% load dashboard_extras %}

{% block content %}

<div class="container-fluid">
    <div class="card rounded-4">
        <div class="card-header">

        </div>
        <div class="card-body">
            {{ item_form|crispy }}
            <div class="row">
                <div class="col-md-4">
                    {{ form|crispy }}
                    
                </div>
            </div>

        </div>
    </div>
    <div class="footer rounded-4 bg-dark">

    </div>
</div>
{% endblock content %}