<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% load dashboard_extras %}

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Admin">
	<meta name="author" content="Alec Fitzgerald">
	<meta name="keywords" content="Fitzy Codes">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="{% static 'img/logo.jpg' %}" />
            <title>TIB Auction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">
	<link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" type="text/css">
    

	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

</head>
<style>
    body {
      background-image: linear-gradient( 135deg, #08829d 10%, #31b3d0 100%);
      margin: 0;
      padding: 0;
    }
    .content {
      min-height: 100vh;
      background-image: url('/static/img/logo.jpg');
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    
    
  
</style>
<body>
  <header class="header">
    {% include 'nav/nav.html' %}
  </header>
    
    
    <!-- Main Content Area Extends To All Pages -->
    <main class="content">
        <div class="container-fluid">
    {% block content %}
    {% endblock content %}
        </div>
         <!-- Footer -->
        
    </main>
  <footer class="footer sticky-bottom mt-auto py-3 bg-body-tertiary bg-dark">
    <div class="container text-center">
      <span class="text-body-secondary">TibAuction &copy; 2023</span>
    </div>
  </footer>
   
  

</body>

</html>
