{% extends "base.html" %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% load static %}
{% load dashboard_extras %}

{% block content %}
<style>
   
   .card-cover {
        background-color: rgba(0,0,0,0.7)  
    }
    

</style>

<div class="card card-cover text-light px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">The Infinite Black Auction</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Browse from a vast collection of in-game items, gear, and ships! Our platform makes it super easy to bid on the items you want and rest easy knowing your transactions are 100% secure.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Login</button>
          <button type="button" class="btn btn-outline-info btn-lg px-4">Signup</button>
        </div>
      </div>
    </div>
</div>


<!-- Features Section -->
<!-- <div class="row" style="display: flex; justify-content:space-around;">
    <div class="card col-md-3">
        <div class="card-body">
            <h3>Easy Bidding</h3>
            <p>Our platform makes it super easy to bid on the items you want.</p>
        </div>
    </div>
    <div class="card col-md-3">
        <div class="card-body">
            <h3>Secure Transactions</h3>
            <p>Rest easy knowing your transactions are 100% secure.</p>
        </div>
    </div>
    <div class="card col-md-3">
        <div class="card-body">
            <h3>Wide Selection</h3>
            <p>Browse from a vast collection of in-game items, gear, and ships!</p>
        </div>
    </div>
</div> -->
        


{% endblock content %}